// colors
$accentColor = #ff3d00
$textColor = #323334
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #429ed5
$badgeWarningColor = #ff9100
$badgeErrorColor = #df2121

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 810px
$MQMobileNarrow = 419px

.badge
  &.neat
    background-color #81d022
  &.ext
    background-color #429ed5
  &.open
    background-color #ff9100
  &.premium
    background-color #df2121